#svg-container, #name-container {
    overflow: auto;
}

svg{
    margin-top: -10%;
}


h1{
    text-align: center;
    font-size: 80px;
    margin-top: -5%;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: Arial, sans-serif;
}

#reveal-page-button{
    text-align: center;
    margin-top: 10rem;
    
    button{
        font-size: 45px;
        padding: 10px;
    }
}

.hidden{
    display: none;
}

#replay-button{
    position: fixed;
    bottom: 0;
    font-size: 20px;
}

#birthday-cake-img{
    text-align: center;
}
